.page-container {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.details-container {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.payment-container {
  /* height: auto; */
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.page-container h3 {
  text-transform: uppercase;
}

.payment-form {
  display: grid;
  grid-auto-columns: 1fr;
  /* grid-auto-rows: 1fr; */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "section-1 section-1"
    "section-2 section-2"
    "section-3 section-4";
  gap: 1rem;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}
.section-3 {
  grid-area: section-3;
}
.section-4 {
  grid-area: section-4;
}

.cardInputContainer {
  display: flex;
  gap: 10px; /* Jarak antar input */
}

.payment-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input::placeholder {
  color: #aaa; /* Warna placeholder */
}

.button {
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  grid-area: span 2 / span 2;
}

.button:hover {
  background-color: #0056b3;
}

.number-card {
  display: flex;
}

.details-content {
  display: flex;
  justify-content: space-between;
}

.card-number-input-container {
  display: flex;
  gap: 10px; /* Jarak antar input */
}

/* .section-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.payment-error-message {
  color: red;
}

.expiration-input-container {
  display: flex;
  gap: 10px;
}
