.page-container {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.details-container {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.payment-container {
  /* height: auto; */
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.page-container h3 {
  text-transform: uppercase;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardInputContainer {
  display: flex;
  gap: 10px; /* Jarak antar input */
}

.payment-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input::placeholder {
  color: #aaa; /* Warna placeholder */
}

.button {
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.number-card {
  display: flex;
}

.details-content {
  display: flex;
  justify-content: space-between;
}

.number-card {
  display: flex;
}